<!DOCTYPE html>
<html>
<body>

<h2>Welcome Back, Please Login Below</h2>

<h3>Login Details:</h3>
<p>
<form method="POST">
	<table style="width:20%" cellpadding="5" cellspacing="5">
		<tr>
			<td>Enter your Wallet ID:   </td>
			<td>{{form.walletID()}}</td> 
		</tr>
		<tr>
			<td>Enter Your Password:  </td>
			<td>{{form.password()}}</td> 
		</tr>
	</table>
</br>
<i>{{option}}</i>
<p>
	{{form.submit()}}
</p>
</form>
</br>
<h4><u><a href='/'> Go back to Index</a></u></h4>
</p>

</p>
</body>
</html>
